<div *ngIf="screenSizeService.isMobile" data-cy="mobileNavbar">
  <div
    class="position-fixed w-100 h-100"
    style="top: 0; right: 0"
    id="side-nav"
    *ngIf="!isNavbarCollapsed"
    [@show-side-nav]
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-cy="mobileNavbarContent"
  >
    <h3>
      <i
        class="position-fixed fa-regular fa-circle-xmark"
        style="top: 2.5%; right: 5%"
        (click)="isNavbarCollapsed = !isNavbarCollapsed"
      ></i>
    </h3>

    <div class="mt-5 text-start">
      <div *ngFor="let menuItem of menu">
        <h2 [routerLink]="menuItem.link" class="ms-4">
          {{ menuItem.title }}
        </h2>
        <hr />
      </div>
    </div>
  </div>

  <h3 *ngIf="isNavbarCollapsed">
    <i
      data-cy="navbarCollapseBtn"
      class="position-fixed fa-solid fa-bars"
      style="top: 2.5%; right: 5%"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
    ></i>
  </h3>
</div>

<nav data-cy="desktopNavbar"
  class="navbar navbar-expand-md navbar-light bg-white py-2"
  *ngIf="!screenSizeService.isMobile">
  
  <a class="navbar-brand ms-5 me-5" routerLink="/">
    <img src="./assets/jubilee_black.png" alt="Jubilee" height="60px" />
  </a>

  <ul class="ms-5 navbar-nav mr-auto">
    <li class="nav-item" *ngFor="let menuItem of menu | slice : 1">
      <a class="nav-link" [routerLink]="menuItem.link">{{ menuItem.title }}</a>
    </li>
  </ul>
</nav>
