a {
    font-size: 1.25em;
}

#side-nav {
    background-color: rgba(black, .85);
    backdrop-filter: blur(3px);
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.65em;
    letter-spacing: .07em;
}

i {
    text-shadow: 0 0 5px #000;
    font-size: 1.85em;
}